.card {
  border: 10px black;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background-color: grey;
}
.cardImage {
  width: 90%;
  height: 250px;
  border-radius: 8px;
  margin-left: 5%;
  margin-right: 5%;
}

.cardTitle {
  font-size: 25px;
  color: red;
  margin-left: 35%;
  margin-right: 35%;
}

.cardSubtitle {
  font-size: 25px;
  color: greenyellow;
  margin-left: 5%;
  margin-right: 5%;
}

.cardText {
  font-size: 15px;
  margin-left: 15%;
  margin-right: 15%;
}
