.card{
  width: 50px;
  height: 280px;
  border: 1px solid gray;
  border-radius: 10px ;
padding: 30px;
}
img{
width: 60px;
height 

}


button{
color: white;
background-color:purple;
border: none;
font-size: 20px;
padding: 11px 20px;
border-radius: 6px;
}